/calc-IMC/Calculadora-IMC/build/
/quadrilatero/Quadrilatero/nbproject/private/
/quadrilatero/Quadrilatero/build/
/Banco/nbproject/private/
/Banco/build/
/exercicios/HerancaTemperatura/nbproject/private/
/exercicios/HerancaTemperatura/build/
/exercicios/HerancaTemperatura/dist/
/exercicios/ExercicioHerancaAluno/nbproject/private/
/exercicios/BoletimEscolar/nbproject/private/
/exercicios/BoletimEscolar/build/
/exercicios/BoletimEscolar/dist/
