/calc-IMC/Calculadora-IMC/build/
/quadrilatero/Quadrilatero/nbproject/private/
/quadrilatero/Quadrilatero/build/
/Banco/nbproject/private/
/Banco/build/
/exercicios/HerancaTemperatura/nbproject/private/
/exercicios/HerancaTemperatura/build/
/exercicios/HerancaTemperatura/dist/
/exercicios/ExercicioHerancaAluno/nbproject/private/
/exercicios/BoletimEscolar/nbproject/private/
/exercicios/BoletimEscolar/build/
/exercicios/BoletimEscolar/dist/
/exercicios/ExercicioHerancaAluno/build/
/exercicios/ExercicioHerancaAluno/dist/
/exercicios/ExercicioHerancaFuncionarios/nbproject/private/
/exercicios/ExercicioHerancaFuncionarios/build/
/exercicios/ExercicioProfessores/nbproject/private/
/exercicios/ExercicioProfessores/build/
/exercicios/ExercicioProfessores/dist/
/exercicios/ExercicioCursos/nbproject/private/
/exercicios/ExercicioCursos/build/
/exercicios/ExercicioCursos/dist/
/exercicios/ExercicioTransporte/nbproject/private/
/exercicios/ExercicioTransporte/build/
/exercicios/ExercicioTransporte/dist/
/Aulas/AgregacaoMatriculaAlunos/AgregacaoMatriculaAlunos/nbproject/private/
/Aulas/AgregacaoMatriculaAlunos/AgregacaoMatriculaAlunos/build/
/Aulas/AgregacaoMatriculaAlunos/AgregacaoMatriculaAlunos/dist/
/exercicios/ExercicioComputador/nbproject/private/
/exercicios/ExercicioComputador/build/
/exercicios/ExercicioComputador/dist/
/Aulas/AulaArrayListPessoaAlunos/build/
/Aulas/AulaArrayListPessoaAlunos/dist/
/Aulas/AulaArrayListPedidoAlunos/nbproject/private/
/Aulas/AulaArrayListPedidoAlunos/build/
/exercicios/BandaMusical/nbproject/private/
/exercicios/BandaMusical/build/
/exercicios/BandaMusical/dist/
/exercicios/Receitas/nbproject/private/
/exercicios/Receitas/dist/
/exercicios/Receitas/build/
/exercicios/Excursao/nbproject/private/
/exercicios/Excursao/build/
/exercicios/Excursao/dist/
