/calc-IMC/Calculadora-IMC/build/
/quadrilatero/Quadrilatero/nbproject/private/
/quadrilatero/Quadrilatero/build/
/Banco/nbproject/private/
/Banco/build/
/exercicios/HerancaTemperatura/nbproject/private/
/exercicios/HerancaTemperatura/build/
/exercicios/HerancaTemperatura/dist/
/exercicios/ExercicioHerancaAluno/nbproject/private/
/exercicios/BoletimEscolar/nbproject/private/
/exercicios/BoletimEscolar/build/
/exercicios/BoletimEscolar/dist/
/exercicios/ExercicioHerancaAluno/build/
/exercicios/ExercicioHerancaAluno/dist/
/exercicios/ExercicioHerancaFuncionarios/nbproject/private/
/exercicios/ExercicioHerancaFuncionarios/build/
/exercicios/ExercicioProfessores/nbproject/private/
/exercicios/ExercicioProfessores/build/
/exercicios/ExercicioProfessores/dist/
/exercicios/ExercicioCursos/nbproject/private/
/exercicios/ExercicioCursos/build/
/exercicios/ExercicioCursos/dist/
